*{
    margin: 0;
    padding: 0;
}
.head{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.logo{
    color: greenyellow;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 3px 2px green;
    position: absolute;
    left: 20px;
    /* border: 1px solid red; */
}
.nav ul{
    position: relative;
    left: 280px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}
.nav li{
    /* border: 1px solid gainsboro; */
    padding: 10px 0px;
    margin: 0px 10px;
    color: white;
}
.nav li a{
    color: white;
    text-decoration: none;
    padding: 0px 4px;
    /* border: 1px solid red; */
    padding: 10px 15px;
    transition: all 0.2s linear 0s;
}
.nav a:hover{
    background-color: greenyellow;
    color: black;
    border-radius: 6px;
}
.slide{
    width: 100%;
    height: 600px;
    background: url('https://www.teahub.io/photos/full/196-1962106_wallpaper-of-bodybuilding-man-muscle-weightlifting-fitness-is.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.home{
    position: absolute;
    bottom: 400px;
    left: 40px;
    text-shadow: 3px 3px 0px black;
    animation: example 0.6s linear 1 ;
}
@keyframes example {
    0%{
        bottom: 100px;
    }
    100%{
        bottom: 400px;
    }

}
.home span{
    color: greenyellow;
    font-weight: bold;
    font-size: 20px;
}
.home h3{
    color: white;
    font-size: 30px;
}
.feature{
    color: white;
    background-color: rgb(18, 15, 15);
}
.card{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card .c1{
    background-color: #1b1c1b;
    margin: 10px 0px ;
    /* border: 1px solid yellow ; */
}
.c1 .top, .bottom{
    height: 300px;
    /* border: 1px solid teal; */
}
.c1 img{
    height: 300px;
    width: 490px;
    transition: 0.3s linear 0s;
}
.c1 img:hover{
    transform: scale(1.1);
}
.c1 h2{
    font-weight: bolder;
    position: relative;
    top: 130px;
    text-align: center;
    font-size: 30px;
    /* text-shadow: 2px 2px 40px white, 2px 2px 40px black; */
    color: greenyellow;
}
.c1 hr{
    background-color: white;
    position: relative;
    top: 140px;
    width: 100px;
    margin: auto;
    height: 1px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px greenyellow;
}
.top, .bottom{
    overflow: hidden;
    height: 300px;
}
.feature-head hr{
    width: 300px;
    background-color: aliceblue;
    height: 2px;
    border: 20px;
    margin: 50px 30px;
    border-radius: 50%;
}
.feature-head {
    display: flex ;
    /* position: relative; */
    text-align: center;
    align-items: center;
    justify-content: center;
}
footer{
    /* border: 1px solid rebeccapurple; */
    background-color: black;
    padding-top:0px ;
    color: white;
}
.f1, .f2{
    /* border: 1px solid white; */
    /* height: 100px; */
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #1b1c1b;
    flex-wrap: wrap;
}
.f1 .cont,.loc{
    padding: 0px;
}
.f1 hr{
    width: 200px;
    background-color: aliceblue;
    height: 2px;
    border: 20px;
    border-radius: 50%;
    position: relative;
    left: 90px;
    margin-bottom: 20px;
}
.loc hr{
    left: 165px;
}
.cont a{
    /* text-decoration: none; */
    color: white;
    padding: 2px;
    border-radius: 2px;
}
.cont a:hover{
    background-color: greenyellow;
    color: black;
}
.loc img{
    height: 300px;
}






@media only screen and (max-width: 750px) {
    .nav{
        display: none;
        background-color:black;
        /* border: 1px solid red; */
        margin-top: 35px;
        width: 100vw;
        text-align: center;
        border-radius: 0px 0px 5px 5px;
        transition: linear 0.5s;
        position: relative;
        left: 0px;
    }
    .active{
        display: block;
        transition: linear 0.5s;
    }
    .nav ul{
        /* border: 1px solid red; */
        display: block;
        position: relative;
        left: 0px;
    }
    .head{
        height: 30px;
    }
    .btn{
        height: 20px;
        width: 40px;
        /* border: 1px solid rebeccapurple; */
        position: absolute;
        right: 20px;
        cursor: pointer;
    }
    .btn .line{
        width: 30px;
        padding: 1px;
        height: 0.3px;
        margin: 5px 3px;
        background-color: aliceblue;
    }
    .c1 img{
        height: 200px;
        width: 290px;
        transition: 0.3s linear 0s;
    }
    .c1 .top, .bottom{
        height: 200px;
        /* border: 1px solid teal; */
    }
    .c1 h2{
        position: relative;
        top:60px;
    }
    .c1 hr{
        position: relative;
        top:65px;  
    }
    .slide{
        background: url('https://images.pexels.com/photos/1552252/pexels-photo-1552252.jpeg?cs=srgb&dl=pexels-leon-ardho-1552252.jpg&fm=jpg');
        background-size: contain;
        height: 300px;
    }
    .home{
        position: relative;
        top: 160px;
        width: 300px;

    }
    .loc hr{
        left: 65px;
    }
    .loc img{
        height: 180px;
    
    }
    
  }
